.card {
    background-color: var(--white-pure);
    padding: 1.5rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, .06);  
}

.card:hover {
    transform: scale(1.012);
}

.card_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.aprovada::before {
    content: 'Aprovada';
    display: inline-block;
    margin-right: 8px; 
}

.aprovada {
    color: #01900b;
    display: inline-flex; 
    align-items: center;  
}

.recusada::before {
    content: 'Recusada';
    display: inline-block;
    margin-right: 8px; 
}

.recusada {
    color: #f80707;
    display: inline-flex; 
    align-items: center; 
}

.card_data {
    margin-left: 2rem;
}

.column_one {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.column_two_pendentes {
    display: flex;
    justify-content: space-between;
}

.column_two {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.card_status {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.data_span {
    display: flex;
    column-gap: 1rem;
}

.icon_button {
    cursor: pointer;
}

.icons {
  display: flex;
  column-gap: .8rem;
}

@media (max-width: 595px) {
  .card_content {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
  }

  .column_two,
  .column_two_pendente {
    align-items: end;
    gap: 0.5rem;
    width: 100%;
  }
}

@media (max-width: 470px) {
  .aprovada::before {
    content: '';
  }

  .recusada::before {
    content: '';
  }
}


@media (max-width: 426px) {
  .card {
    padding: .8rem;
    border-radius: .6rem;
  }

  .card_content {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
  }

  .column_two,
  .column_two_pendente {
    align-items: end;
    gap: 0.5rem;
    width: 100%;
  }

  .aprovada::before {
    content: '';
  }

  .recusada::before {
    content: '';
  }

  .card_status {
    margin-top: 0.5rem;
  }

  .data_span span {
    font-size: 1rem;
  }

  .botao_excluir {
    align-self: flex-end;
    margin-top: 0.5rem;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .flag {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}


@media (max-width: 320px) {
  .card {
    padding: .8rem;
    border-radius: .6rem;
  }

  .card_content {
    flex-direction: column;
    align-items: flex-start;
    font-size: .85rem;
  }

  .column_two,
  .column_two_pendente {
    align-items: end;
    gap: 0.5rem;
    width: 100%;
  }

  .aprovada::before {
    content: '';
  }

  .recusada::before {
    content: '';
  }

  .card_status {
    margin-top: 0.5rem;
  }

  .data_span span {
    font-size: .8rem;
  }

  .botao_excluir {
    align-self: flex-end;
    margin-top: 0.5rem;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .flag {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}