:root {

    /* Yellow tones */
    --yellow: #FFB503;
    --light-opacity-yellow: #FFF4D9;

    /* Black */
    --black: #242223;

    /* Gray */
    --gray: #A7A7A7;


    /* Bluegray */
    --blue-gray-light: #CBD5E1;

}
