.headder1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 15vh;
    width: 50rem;
}

.headder2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 15vh;
    width: 50rem;
}

.headderTittle{
    font-family: 'Inter';
    font-size: x-large;
    color: #42130F;
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.cardTitle{
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
}

body{
    background-image: url("../../public/images/Paralax.svg");
    font-family: 'Inter';
    font-weight: 500;
}

@media (max-width: 768px){
    .headder1 {
        justify-content: center;
        width: 100rem;
    }

    .card {
        width: 75%;
    }
}