.dateInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dateInput::-webkit-calendar-picker-indicator {
    display: none;
}

.dateLabel {
    display: flex;
    align-items: center;
    font-weight: 500;
}