.form_container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: .5rem;
}

.data_span {
    font-size: 1rem;
    color: var(--gray);
}

.button_container {
    display: flex;
    column-gap: 1rem;
    justify-content: end;
    margin-top: .5rem;
}

.justificativa_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;

    & input {
        border: 2px solid #eceff4;
        border-radius: .5rem;
        height: 2rem;
        padding-left: .5rem;
    }

}

@media (max-width: 426px) {
    .button_container {
        flex-direction: column;
        width: 50%;
        row-gap: .2rem;
        align-items: center;
        margin: 0 auto;
    }

    .button {
        height: 2rem;
        width: 8rem;
    }
}