.pendente_badge {
    background-color: var(--yellow);
    padding: .2rem .6rem;
    border-radius: .5rem;
    margin-left: .5rem;
}

.toogle {
    background-color: var(--white-bg);
    padding: .25rem;
    border-radius: .5rem;
    font-weight: bold;
}

.button_container {
    display: flex;
    column-gap: 1rem;
    width: 14.8rem;
    margin: 1rem auto;
    justify-content: center;
    background-color: #F1F5F9;
    padding: .3rem .1rem;
    border-radius: .5rem;
}

@media (max-width: 760px) {
    .button_container {
        margin-left: 0;
        font-size: .8rem;
        width: 12.65rem;
    }
}

@media (max-width: 595px) {
    .button_container {
        font-size: .8rem;
        display: flex;
        column-gap: 1rem;
        width: 12.65rem;
        justify-content: start;
        padding: .3rem ;
        border-radius: .3rem;
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .button_container {
        font-size: .6rem;
        display: flex;
        column-gap: 1rem;
        width: 10.2rem;
        justify-content: start;
        padding: .3rem .1rem ;
        border-radius: .3rem;
        margin-left: 0;
    }
}