.FormGroup {
    margin-right: 2rem;
    
    & input {
        border: 2px solid #eceff4;
        border-radius: .5rem;
        width: 8rem;
        height: 2rem;
    }

    & label {
        display: block;
    }
}

.justificativa, .justificativa_noFile {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.justificativa input, .justificativa_noFile input {
    width: 100%;
    padding: 0.5rem;
}

.justificativa_content {
    display: flex;
    align-items: center;

    & input {
        margin-right: .5rem;
        width: 100%;
    }
}